<form novalidate [formGroup]="asmatForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <mat-form-field class="col-6">
      <input matInput
             type="text"
             formControlName="firstName"/>
      <mat-label>Prénom</mat-label>
      <mat-error>Le prénom est requis</mat-error>
    </mat-form-field>

    <mat-form-field class="col-6">
      <input matInput
             type="text"
             formControlName="lastName"/>
      <mat-label>Nom</mat-label>
      <mat-error>Le nom est requis</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-3">
      <input matInput
             type="tel"
             formControlName="fixPhoneNumber"/>
      <mat-label>N° de téléphone fixe</mat-label>
      <mat-error>Le format du numéro est incorrect</mat-error>
    </mat-form-field>

    <mat-form-field class="col-3">
      <input matInput
             type="tel"
             formControlName="cellPhoneNumber"/>
      <mat-label>N° de téléphone portable</mat-label>
      <mat-error>Le format du numéro est incorrect</mat-error>
    </mat-form-field>

    <mat-form-field class="col-6">
      <input matInput
             type="email"
             formControlName="email"/>
      <mat-label>E-mail</mat-label>
      <mat-error>Le format de l'adresse e-mail est incorrect</mat-error>
    </mat-form-field>
  </div>

  <ng-container formGroupName="address">
    <div class="row">
      <mat-form-field class="col-2">
        <input matInput
               type="text"
               formControlName="streetNo"/>
        <mat-label>N° de rue</mat-label>
      </mat-form-field>

      <mat-form-field class="col-10">
        <input matInput
               type="text"
               formControlName="street"/>
        <mat-label>Rue</mat-label>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-4">
        <input matInput
               type="text"
               formControlName="postalCode"/>
        <mat-label>Code postal</mat-label>
      </mat-form-field>

      <mat-form-field class="col-8">
        <input matInput
               type="text"
               formControlName="city"/>
        <mat-label>Ville</mat-label>
      </mat-form-field>
    </div>
  </ng-container>

  <div class="row">
    <mat-form-field class="col-5">
      <input matInput
             type="date"
             formControlName="joiningDate"/>
      <mat-label>Date d'adhésion</mat-label>
    </mat-form-field>

    <mat-form-field class="col-5">
      <input matInput
             type="date"
             formControlName="remindDate"/>
      <mat-label>Date de rappel</mat-label>
    </mat-form-field>

    <mat-form-field class="col-2">
      <input matInput
             type="number"
             formControlName="receptions"/>
      <mat-label>Nombre d'accueils</mat-label>
    </mat-form-field>
  </div>

  <div class="row margin-x">
    <mat-slide-toggle
      class="col-max"
      formControlName="availabilityCommunicated">
      Disponibilité : {{ availabilityCommunicated ? '' : 'non communiquée' }}
    </mat-slide-toggle>

    <ng-container *ngIf="availabilityCommunicated">
      <mat-form-field class="col-6 small-input">
        <input matInput
               type="number"
               formControlName="babyAvailability" />
        <span matSuffix>bébé(s)</span>
      </mat-form-field>

      <span> et </span>

      <mat-form-field class="col-6 small-input">
        <input matInput
               type="number"
               formControlName="scholarAvailability" />
        <span matSuffix>périscolaire(s)</span>
      </mat-form-field>
    </ng-container>
  </div>

  <div class="row margin-x">
    <mat-slide-toggle formControlName="adherent">
      Adhérente
    </mat-slide-toggle>
  </div>

  <div class="buttons-bar">
    <div>
      <button mat-raised-button
              color="primary"
              type="button"
              (click)="back()">
        Retour
      </button>
    </div>

    <div>
      <button mat-raised-button
              color="accent"
              type="submit"
              [disabled]="asmatForm.invalid">
        Valider
      </button>
    </div>
  </div>
</form>
