$primary-colors: (
  50 : #e6f4f5,
  100 : #c2e3e6,
  200 : #99d0d5,
  300 : #70bdc4,
  400 : #51aeb8,
  500 : #32a0ab,
  600 : #2d98a4,
  700 : #268e9a,
  800 : #1f8491,
  900 : #137380,
  A100 : #b5f5ff,
  A200 : #82eeff,
  A400 : #4fe8ff,
  A700 : #35e4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent-colors: (
  50 : #faf4f7,
  100 : #f2e3ec,
  200 : #ead0df,
  300 : #e1bdd2,
  400 : #daaec8,
  500 : #d4a0be,
  600 : #cf98b8,
  700 : #c98eaf,
  800 : #c384a7,
  900 : #b97399,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd1ea,
  A700 : #ffb8de,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



