<div *ngIf="asmatLoaded" class="container">
  <h2 class="title">{{ asmat.firstName }} {{ asmat.lastName }}</h2>
  <div class="informations">
    <section class="info-section">
      <h3>Général</h3>
      <div class="info-group">
        <span>Adresse :</span>
        <span>{{ formatAddress(asmat.address) }}</span>
      </div>
      <div class="info-group">
        <span>Nombre d'accueils :</span>
        <span>{{ asmat.receptions }}</span>
      </div>
    </section>

    <section class="info-section">
      <h3>Informations clés :</h3>
      <div class="info-group">
        <span>Disponibilité :</span>
        <span>{{ formatAvailability(asmat) }}</span>
      </div>
      <div class="info-group">
        <span>Adhérente :</span>
        <span>{{ asmat.adherent ? 'Oui' : 'Non' }}</span>
      </div>
      <div class="info-group">
        <span>Date d'adhésion :</span>
        <span>{{ asmat.joiningDate | date:'longDate' }}</span>
      </div>
      <div class="info-group">
        <span>Date de rappel :</span>
        <span>{{ asmat.remindDate | date:'longDate' }}</span>
      </div>
    </section>

    <section class="info-section">
      <h3>Contact</h3>
      <div class="info-group">
        <span>Adresse e-mail :</span>
        <span>{{ asmat.email }}</span>
      </div>
      <div class="info-group">
        <span>N° de téléphone fixe :</span>
        <span>{{ asmat.fixPhoneNumber }}</span>
      </div>
      <div class="info-group">
        <span>N° de téléphone portable :</span>
        <span>{{ asmat.cellPhoneNumber }}</span>
      </div>
    </section>
  </div>
  <div class="action-buttons">
    <div>
      <button mat-raised-button
              color="primary"
              (click)="onBackClicked()">
        Retour
      </button>
    </div>
    <div>
      <a mat-raised-button
         color="accent"
         [routerLink]="['/', 'home', 'update', asmat._id]">
        Modifier
      </a>
    </div>
  </div>
</div>
