<div class="container">
  <h2 class="title">Liste des assistantes maternelles</h2>

  <div class="inputs-container">
    <mat-form-field class="full-width">
      <input matInput
             type="text"
             placeholder="Rechercher par nom/prénom..."
             [(ngModel)]="searchInput"/>
      <mat-label>Recherche</mat-label>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="adherentOnly"
                      labelPosition="before"
                      class="adherent-toggle">
      Adhérentes seulement
    </mat-slide-toggle>

    <div class="add-btn-wrapper">
      <a mat-raised-button
         routerLink="add"
         color="accent">
        Ajouter
      </a>
    </div>
  </div>

  <h3>
    Affichage de {{ filteredAsmats.length }} assistantes maternelles :
  </h3>

  <app-asmats-table [asmats]="filteredAsmats"
                    (deleteClicked)="onDeleteClicked($event)">
  </app-asmats-table>
</div>
