<mat-table [dataSource]="dataSource"
           matSort
           matSortActive="remainingDays"
           matSortDirection="asc"
           matSortDisableClear>
  <ng-container cdkColumnDef="fullname">
    <mat-header-cell *cdkHeaderCellDef class="larger">Nom complet</mat-header-cell>
    <mat-cell *cdkCellDef="let asmat" class="larger">
      {{ asmat.firstName }} {{ asmat.lastName }}
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="email">
    <mat-header-cell *cdkHeaderCellDef class="larger">Adresse e-mail</mat-header-cell>
    <mat-cell *cdkCellDef="let asmat" class="larger">
      <ng-container *ngIf="asmat.email">{{ asmat.email }}</ng-container>
      <span *ngIf="!asmat.email" class="no-mail">Non rensignée</span>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="joiningEndDate">
    <mat-header-cell *cdkHeaderCellDef>Fin d'adhésion</mat-header-cell>
    <mat-cell *cdkCellDef="let asmat">
      {{ asmat.joiningEndDate | date }}
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="remainingDays">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Jours restants</mat-header-cell>
    <mat-cell *cdkCellDef="let asmat">
      {{ computeRemainingDays(asmat) }} jour(s)
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
