mat-table.remind-table {
  max-height: 80vh;
  overflow: auto;

  .alert-icons {
    flex: 0 1 56px;

    .alert-icon {
      &.warn {
        color: #ff9d45;;
      }

      &.urgent {
        color: #ff3f3f;;
      }
    }
  }

  .larger {
    flex: 3;
  }

  .no-mail {
    font-style: italic;
  }
}
