<div class="container">
  <h2 class="title">Liste des assistantes maternelles</h2>

  <div *ngIf="asmatsLoaded; else loading" class="table-container">
    <div class="inputs-container">
      <mat-form-field class="full-width">
        <input matInput
               type="text"
               placeholder="Rechercher par nom, prénom ou ville..."
               [(ngModel)]="searchInput"/>
        <mat-label>Recherche</mat-label>
      </mat-form-field>

      <mat-slide-toggle [(ngModel)]="adherentOnly"
                        labelPosition="before"
                        color="primary"
                        class="btn-margin-x">
        Adhérentes seulement
      </mat-slide-toggle>

      <div class="btn-margin-x">
        <button mat-raised-button
                type="button"
                color="primary"
                (click)="onPrintClicked()">
          Imprimer
        </button>
      </div>

      <div class="add-btn-wrapper">
        <a mat-raised-button
           routerLink="/home/add"
           color="accent">
          Ajouter
        </a>
      </div>
    </div>

    <div class="results-header">
      <h3>
        Affichage de {{ filteredAsmats.length }} assistantes maternelles :
      </h3>
    </div>

    <app-asmats-table [asmats]="filteredAsmats"
                      (deleteClicked)="onDeleteClicked($event)">
    </app-asmats-table>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
