<div *ngIf="asmatsLoaded" class="container">
  <h2 class="title">Aperçu avant impression</h2>

  <div class="button-bar">
    <div>
      <button mat-raised-button
              color="primary"
              (click)="onCancelClicked()">
        Annuler
      </button>
    </div>
    <div>
      <button mat-raised-button
              color="accent"
              (click)="onValidate()">
        Valider et imprimer
      </button>
    </div>
  </div>

  <h3 class="title printable">{{ asmats[0].address.city | titlecase }}</h3>

  <mat-table class="table mat-elevation-z2" [dataSource]="asmats">
    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef class="flex-2">Nom</mat-header-cell>
      <mat-cell *cdkCellDef="let asmat" class="flex-2">
        {{ asmat.firstName }} {{ asmat.lastName }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="address">
      <mat-header-cell *cdkHeaderCellDef class="flex-4">Adresse</mat-header-cell>
      <mat-cell *cdkCellDef="let asmat" class="flex-4">
        {{ formatAddress(asmat.address) }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="phones">
      <mat-header-cell *cdkHeaderCellDef class="flex-3">Téléphone</mat-header-cell>
      <mat-cell *cdkCellDef="let asmat" class="flex-3 phone-cell">
        <p *ngIf="asmat.fixPhoneNumber">Fixe: {{ asmat.fixPhoneNumber }}</p>
        <p *ngIf="asmat.cellPhoneNumber">Port: {{ asmat.cellPhoneNumber }}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="email">
      <mat-header-cell *cdkHeaderCellDef class="flex-3">Adresse e-mail</mat-header-cell>
      <mat-cell *cdkCellDef="let asmat" class="flex-3">
        {{ asmat.email }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="receptions">
      <mat-header-cell *cdkHeaderCellDef>Nb. d'accueils</mat-header-cell>
      <mat-cell *cdkCellDef="let asmat">
        {{ asmat.receptions }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="adherent">
      <mat-header-cell *cdkHeaderCellDef>Adhérente</mat-header-cell>
      <mat-cell *cdkCellDef="let asmat">
        <mat-icon *ngIf="asmat.adherent" class="icon">
          check
        </mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="availability">
      <mat-header-cell *cdkHeaderCellDef class="flex-2">Disponibilité</mat-header-cell>
      <mat-cell *cdkCellDef="let asmat" class="flex-2">
        {{ formatAvailability(asmat) }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="joiningDate">
      <mat-header-cell *cdkHeaderCellDef class="flex-2">Adhésion</mat-header-cell>
      <mat-cell *cdkCellDef="let asmat" class="flex-2">
        {{ asmat.joiningDate | date:'shortDate' }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="remindDate">
      <mat-header-cell *cdkHeaderCellDef class="flex-2">Rappel</mat-header-cell>
      <mat-cell *cdkCellDef="let asmat" class="flex-2">
        {{ asmat.remindDate | date:'shortDate' }}
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayColumns"></mat-row>
  </mat-table>
</div>
