.container {
  position: relative;
  top: 5vh;

  .results-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .inputs-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

    .btn-margin-x {
      margin: 0 24px;
    }

    .add-btn-wrapper {
      margin-left: 24px;
    }
  }
}

.full-width {
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 32px;
}

.spinner-container {
  position: relative;
  top: 20vh;

  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
