<div class="mat-typography">
  <h2 mat-dialog-title>Imprimer une liste d'assistantes maternelles</h2>

  <form novalidate [formGroup]="printForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <mat-form-field>
        <mat-label>Ville</mat-label>
        <mat-select formControlName="city" placeholder="Sélectionnez une ville">
          <mat-option *ngFor="let city of data.cities | sort" [value]="city">
            {{ city }}
          </mat-option>
        </mat-select>
        <mat-error>Veuillez sélectionner une ville</mat-error>
      </mat-form-field>

      <div class="toggle-group">
        <mat-slide-toggle formControlName="adherentOnly" color="primary">
          Imprimer les adhérentes uniquement
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="includeDates" color="primary">
          Include les dates d'adhésion et de rappel
        </mat-slide-toggle>
      </div>
    </div>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>
        ANNULER
      </button>
      <button mat-button
              color="primary"
              type="submit"
              [disabled]="printForm.invalid">
        CONTINUER
      </button>
    </mat-dialog-actions>
  </form>
</div>
