.container {
  position: relative;
  top: 5vh;

  .title {
    text-align: center;
  }

  .button-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    & > * {
      margin-left: 12px;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  table.table {
    width: 100%;
    margin-top: 32px;

    td[mat-cell] {
      font-size: 0.8em;
    }
  }

  @media print {
    .title, .button-bar {
      display: none;
    }

    td[mat-cell] {
      line-height: normal;
      font-size: 0.6em !important;
      text-align: center;
      margin: 0 8px;
    }

    th[mat-header-cell] {
      line-height: normal;
      font-size: 0.6em !important;
      color: black;
      text-align: center;
      margin: 0 8px;
    }

    .icon {
      font-size: 12px;
    }
  }
}
