<div *ngIf="asmatLoaded" class="container">
  <h2 class="title">{{ asmat.firstName }} {{ asmat.lastName }}</h2>
  <div class="informations">
    <section class="info-section">
      <h3>Général</h3>
      <div class="info-group">
        <span>Adresse : </span>
        <span>{{ formatAddress(asmat.address) }}</span>
      </div>
      <div class="info-group">
        <span>Nombre d'accueils : </span>
        <span>{{ asmat.receptions }}</span>
      </div>
    </section>

    <section class="info-section">
      <h3>Informations clés :</h3>
      <div class="info-group">
        <span>Adhérente</span>
        <span>{{ asmat.address ? 'Oui' : 'Non' }}</span>
      </div>
      <div class="info-group">
        <span>Date d'adhésion :</span>
        <span>{{ asmat.joiningDate }}</span>
      </div>
      <div class="info-group">
        <span>Date de rappel :</span>
        <span>{{ asmat.remindDate }}</span>
      </div>
    </section>

    <section class="info-section">
      <h3>Contact</h3>
      <div class="info-group">
        <span>Adresse e-mail : </span>
        <span>{{ asmat.email }}</span>
      </div>
      <div class="info-group">
        <span>N° de téléphone fixe :</span>
        <span>{{ asmat.fixPhoneNumber }}</span>
      </div>
      <div class="info-group">
        <span>N° de téléphone portable :</span>
        <span>{{ asmat.cellPhoneNumber }}</span>
      </div>
    </section>
  </div>
</div>
