@import "~@angular/material/theming";
@import "palette";

$typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif'
);

@include mat-core($typography);

$primary-palette: mat-palette($primary-colors, 400, 100, 700);
$accent-palette: mat-palette($accent-colors, 500, 200, 800);

$theme: mat-light-theme($primary-palette, $accent-palette);

@include angular-material-theme($theme);
