<div class="container">
  <div class="img-wrapper">
    <img src="assets/logo.png" alt="Logo"/>
  </div>

  <h1 class="title">Asmat Manager</h1>

  <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput
             type="text"
             formControlName="username"/>
      <mat-label>Nom d'utilisateur</mat-label>
      <mat-error>Champ requis</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             type="password"
             formControlName="password"/>
      <mat-label>Mot de passe</mat-label>
      <mat-error>Champ requis</mat-error>
    </mat-form-field>

    <div class="btn-wrapper">
      <button mat-raised-button
              color="accent">
        Se connecter
      </button>
    </div>
  </form>
</div>
