/* You can add global styles to this file, and also import other style files */
@import "scss/theme";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;

  background-color: mat-color($accent-palette, 50);

  .spinner-container {
    position: relative;
    top: 20vh;

    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}
